.fundo1{
    background-color: #00c188;
    width:1320px;
    height:577px;
    border: 15px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: whitesmoke whitesmoke whitesmoke whitesmoke;
}

.botão01{
    position:absolute; 
    top:center;
    left:center;
    right:28.5%;
    bottom:45.5%;
    transform: translate(-101%, -80%);
    border-radius: 20px;
    color: #00c188;
    font-size: 20px;
}

.botão02{  
    position:absolute; 
    top:center;
    left:center;
    right:33.5%;
    bottom:3%;
    transform: translate(-60%, -80%);
    border-radius: 20px;
    color: #00c188;
    font-size: 20px;
}

.home1{
    position:absolute; 
    top:5%;
    left:93%;
    /*top:71%;
    left:13.2%;*/
    /*transform: translate(-50%, -50%);*/
    border-radius: 20px;
    color: #00c188;
    font-size: 12px;
}

.inicio2{
    position:absolute; 
    top:5%;
    left:93%;
    /*transform: translate(-50%, -50%);*/
    border-radius: 20px;
    color: #00c188;
    font-size: 12px;
}

.dados{
    position:absolute;
    top:center;
    right:1%;
}